/* UNIVERSAL */

body {
  font-size: 16px;
}

/* HEADER */
.container-fluid {
  background-color: rgb(35, 2, 63);
  padding-top: 2%;
  padding-bottom: 2%;
}

.logo {
  font-family: "Righteous";
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
  padding-right: 30%;
}

.form-control.header {
  border-radius: 20px;
}

.btn.header {
  border-radius: 20px;
  width: 75px;
  background-color: rgb(255, 102, 204);
}

.btn.header:hover {
  background-color: rgb(255, 0, 171);
}